<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="dev.tuist.code">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/tuist_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/tuist_logo"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="oauth-callback"
                    android:scheme="tuist" />
            </intent-filter>
        </activity>
    </application>
</manifest>
